
<html>
    <head>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/90/three.min.js"></script>
    </head>
    <body style="
        overflow: hidden;
        max-height: 100%;
        max-width: 100%;
        margin: 0px;">
        <div id="main" style="
            overflow: hidden;
            position: absolute;
            width: 460px;
            height: 460px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: #ddd;
            background-color: #222;">

            <div class="el" style="
                width: 120px;
                height: 120px;
                position: absolute;
                left: 50%;
                top: 20px;
                background-color: #ddd;">
            </div>

            <div style="
                position: absolute;
                left: 50%;
                top: 65%;
                transform: translate(-50%, -50%);">
                <div id="stage" style="width: 200px; height: 200px;"></div>
            </div>

            <div style="
                position: absolute;
                left: 50%;
                bottom: 15px;
                transform: translateX(-50%);">
                Flask, Anime JS, Three JS
            </div>
        </div>

        <script type="text/javascript">
            anime({
                targets: "#main .el",
                translateX: [
                    { value: '-70%', duration: 0 },
                    { value: '20%', duration: 500 },
                ],
                rotate: { value: -10, easing: "easeOutElastic" },
                direction: "alternate",
                easing: "linear",
                loop: true,
            });
        </script>
    </body>
</html>

<script type="text/javascript" src="static/js/app.js"></script>
